.feed-image {

    margin-right: 1%;
    float: left;
    display: inline-block;
    background-size: contain;
    height: 300px;
    width: 29%;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #fff;
}


.feed-content {
    display: inline-block;
    max-width: 70%;
}
span.pub-date {
    display: block;
    font-size: 80%;
    font-style: italic;
}

.feed-item {
    clear: both;
    margin-bottom: 2%;
    background-image: url("../images/no-image.png");
    background-size: 50px 50px;
    background-position: left top;
    background-repeat: no-repeat;
}

a.feed-more {
    width: 100%;
    display: block;
}
h3.feed-title {
    margin-top: 0;
    margin-bottom: 0;
}

.anyfeed-container .feed-category {display:none;}

.feed-category a, .feed-groups a {
    display: inline-flex;
    font-size: 75%;
    margin: 0 5px;
}

.feed-category:after {
    content: " | ";
    font-size: 75%;
}

.feed-groups a:after{
    content:", ";
}

.feed-groups , .feed-category{display:inline;float:left;}

/* remove ads from atom feeds */
ins.adsbygoogle ,.adsbygoogle ,.ads{
    display: none !important;
}